text-align: left;
color: #000;
text-align: center;
tal: ;
text-align: left;
text-decoration: none;
width: ;
height: ;
width: ;
height: ;
width: 100px;
height: 200px;
text-indent: 2px;
line-height: 25;
text-decoration: none;
text-decoration: none;
text-decoration: none;
lh:: 24px;
lh:: 24px;
text-align: center;
text-align: left;

position: relative;
position: absolute;
position: relative;
